# Build
build/
.cache/

# Artefatos do compilador
*.o
*.a
*.so

# Gerado pelo CMake
compile_commands.json
CMakeCache.txt
CMakeFiles/

# Temporários de editores
*~
\#*#
*.swp

# Arquivos de debug
*.dSYM/